/*reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*web*/
body {
  max-width: auto;
  background-color: #fff;
}

header {
  background: #30343F;
  height: 144px;
  width: 100%;
  display: flex;
  flex-flow: row;
}

#brand {
  display: flex;
  flex-direction: row;
  margin: auto 120px;
  width: 50%;
}

.funkoTittle {
  margin: auto 20px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: #FAFAFF;
}

#navegation {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-end;
  margin-right: 60px;
}

.itemNav {
  margin: auto 25px;
  color: #FAFAFF;

}

#banner {
  width: 100%;
  position: relative;
}


#banner img {
  width: 100%;
  height: 600px;
}

#banner .textZone {
  position: absolute;
  left: 0%;
  top: 27%;
  margin: auto 120px;
  line-height: 40px;
}

.textZone h2 {
  font-size: 50px;
  font-weight: bold;
}

.textZone h4 {
  font-size: 20px;
}

.bannerText {
  color: #FAFAFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px auto 35px auto;
}


.shopAccesButton {
  background: #FAFAFF;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 50px;
  font-size: 25px;
  padding: 10px;
  margin-top: 30px;
}

#banner .textZone .shopAccesButton h4 {
  margin: 0 80px;
}

/*container y zona principal*/
#centralContainer {
  margin: 40px auto;
  display: grid;
  grid-template-rows: auto auto auto;
}

.itemCollection {
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: row;
  text-align: start;

}

#collection .itemCollection:nth-child(2) {
  flex-direction: row-reverse;
}

.itemCollection img {
  height: 420px;
  width: 420px;
  margin: auto 75px;
}

.itemCollection .shopAccesButton {
  background: #000;
  color: #fafafa;
}

.collectionDescription {
  margin: auto 10px;
  width: 40%;
}

.collectionDescription .bannerText {
  color: #000;
}

.collectionDescription h2 {
  font-size: 40px;
}

.collectionDescription h4 {
  font-size: 20px;
}

/*lanzamientows*/
#releases {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  height: fit-content;
  margin: 30px auto;
  justify-content: space-around;
  width: 80%;
}

#releases .itemCollection {
  margin: auto;
  text-align: left;
}

#releases .itemCollection ul li {
  margin: 15px auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#releases .itemCollection ul li p {
  font-size: 15px;
  color: #333333;

}

#releases .itemCollection ul li .pay {
  color: #1D84B5;
}

#releases .itemCollection ul li h4 {
  font-weight: bold;
}

#releases .bannerText {
  font-size: 40px;
  color: #fff;
}

#releases .itemCollection img {
  height: 250px;
  width: 250px;
}

/*pie de pagina*/
footer {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 20px 0 20px 0;
  height: fit-content;
  background: #30343F;
}

#mainFooter {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  align-items: center;
  margin: 2% 0 2% 0;
}

#mainFooter ul {
  margin: auto 20%;
  color: #fff;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainFooter ul li p {
  margin: 15px auto;
}

#mainFooter img {
  margin: auto;
}

#rightReserved {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-style: oblique;
  margin-top: 30px;
}