/*reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*web*/
body {
  max-width: auto;
  background-color: #fff;
}

header {
  background: #30343F;
  height: 144px;
  width: 100%;
  display: flex;
  flex-flow: row;
}

#brand {
  display: flex;
  flex-direction: row;
  margin: auto 120px;
  width: 50%;
}

.funkoTittle {
  margin: auto 20px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FAFAFF;
}

.funkoTittle a {
  text-decoration: none;
  color: #fafafa;
}

.funkoTittle a:hover {
  color: #ffbf00;
}

#navegation {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-end;
  margin-right: 60px;
}

.itemNav {
  margin: auto 25px;
  color: #FAFAFF;

}

.itemNav a {
  margin: auto 25px;
  color: #FAFAFF;
  text-decoration: none;

}

.itemNav:hover {
  transform: scale(1.2);
  transition: 0.3s;

}

.itemNav a:hover {
  color: #ffbf00;
}

#banner {
  width: 100%;
  position: relative;
}


#banner img {
  width: 100%;
  height: 600px;
}

#banner .textZone {
  position: absolute;
  left: 0%;
  top: 27%;
  margin: auto 120px;
  line-height: 40px;
}

.textZone h2 {
  font-size: 50px;
  font-weight: bold;
}

.textZone h4 {
  font-size: 20px;
}

.bannerText {
  color: #FAFAFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px auto 35px auto;
}


.shopAccesButton {
  background: #FAFAFF;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 50px;
  font-size: 25px;
  padding: 10px;
  margin-top: 30px;
}

#banner .textZone .shopAccesButton h4 {
  margin: 0 80px;
}

/*container y zona principal*/
#home {
  margin: 40px auto;
  display: grid;
  grid-template-rows: auto auto auto;
}

.itemCollection {
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: row;
  text-align: start;

}

#collection .itemCollection:nth-child(2) {
  flex-direction: row-reverse;
}

#collection .itemCollection img {
  height: 420px;
  width: 420px;
  margin: auto 75px;
}

.itemCollection .shopAccesButton {
  background: #000;
  color: #fafafa;
}

.collectionDescription {
  margin: auto 10px;
  width: 40%;
}

.collectionDescription .bannerText {
  color: #000;
}

.collectionDescription h2 {
  font-size: 40px;
}

.collectionDescription h4 {
  font-size: 20px;
}

/*lanzamientows*/
#releases {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  height: fit-content;
  margin: 30px auto;
  justify-content: space-around;
  width: 80%;
}

.releaseTittle {
  color: #000;
  font-weight: bold;
  font-size: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 12%;
}

.itemCollection {
  margin: auto;
  text-align: left;
}

.itemCollection ul li {
  margin: 15px auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemCollection ul li p {
  font-size: 15px;
  color: #333333;

}

.itemCollection ul li .pay {
  color: #1D84B5;
}

.itemCollection ul li h4 {
  font-weight: bold;
}

#releases .bannerText {
  font-size: 40px;
  color: #fff;
}

.itemCollection img {
  height: 300px;
  width: 300px;
}


/*shop*/
#catalog {
  width: 90%;
  margin: 30px auto;
  overflow: hidden;
}

aside {
  display: flex;
  flex-flow: column;
  text-align: start;
  padding: 10px;
  width: 20%;
  float: left;
  margin-right: 10px;
}

aside input {
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
}

.inputProduct {
  margin: 10px 0;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#minAndMaxPrice {
  display: grid;
  grid-template-columns: 40px 90px 40px 90px;
  grid-template-rows: auto;
  grid-gap: 6px;
  align-items: center;
}

#minAndMaxPrice label {
  margin-right: 0;
}

#minAndMaxPrice input {
  text-align: center;
}

#filterProduct form select {
  border-radius: 10px;
  padding: 5px;
}

#filterForProduct {
  margin: 15px auto;
}

#filterBy {
  display: block;
}

#filterBy label {
  margin: 10px 5px 10px 0;
  width: 100%;
}


#filterForProduct option {
  margin: 10px auto;
}

/*seccion de catalogo de productos*/
#productCatalog {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  width: auto;
}

.catalogItem {
  margin: 20px auto;
  width: 350px;
  justify-content: center;
  align-items: center;
}

.catalogItem .itemCollection img {
  height: 300px;
  margin: 0 auto;
}

/*selector de paginas*/
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  grid-column: 2 / span 1;
}

.page,
.prev,
.next {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #ccc;
  margin: 0 5px;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f6f6f6;
}

.page:hover,
.prev:hover,
.next:hover {
  color: #ff6600;
}

.active {
  border-color: #9b3e00;
  scale: 1.1;
  background: #ffc2c291;
}

.active:hover {
  color: #9b3e00;
}


/*formulario de contacto*/
#contactForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px auto 100px 10%;
}

#contactForm label {
  font-size: 25px;
  font-weight: bold;
  margin: 25px 0;
}

#contactForm input {
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  margin-bottom: -5px;
}

#contactForm input:hover {
  background: #ece5d9a4;
}

textarea {
  padding: 15px;
  font-size: 22px;
  border: none;
  outline: none;
  margin: 5px 0;
}

textarea:hover {
  background: #ece5d9a4;
}

#submitForm {
  font-size: 27px;
  font-weight: bold;
  font-style: italic;
  background: #a44400;
  padding: 8px;
  margin-top: 40px;
  margin-left: 0;
  width: min-content;
}

#submitForm:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
  background: #3e0000;
  color: #ff6600;
}

/*---------------------+/
/*pie de pagina*/
footer {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 20px 0 20px 0;
  height: fit-content;
  background: #30343F;
}

#mainFooter {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  align-items: center;
  margin: 2% 0 2% 0;
}

#mainFooter ul {
  margin: auto 20%;
  color: #fff;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainFooter ul li p {
  margin: 15px auto;
}

#mainFooter img {
  margin: auto;
}

#rightReserved {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-style: oblique;
  margin-top: 30px;
}

/*media queries*/
@media (max-width: 1440px) {
  #productCatalog {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(100px, auto));
    grid-auto-flow: dense;

  }

  .pagination {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 1280px) {
  .catalogItem .itemCollection img {
    height: 250px;
    width: 250px;
  }

  #collection .itemCollection img {
    height: 380px;
    width: 370px;
    margin-left: 0;
  }

  .itemCollection ul li p {
    font-size: 12px;
  }

  .itemCollection ul li h4 {
    font-size: 15px;
  }

  #minAndMaxPrice {
    grid-template-columns: none;
    grid-template-rows: none;

  }

  #minAndMaxPrice input {
    width: 100px;
  }
}

@media (max-width: 970px) {
  #collection .itemCollection {
    flex-direction: column;
    justify-content: center;
    margin: 60px auto;
  }

  #collection .collectionDescription {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  #collection .itemCollection img {
    margin: auto;
  }

  #releases .itemCollection img {
    height: 240px;
    width: 240px;
  }

  #releases {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(80px, auto));
  }

  .releaseTittle {
    font-size: 45px;
    margin-left: 7%;
  }

  header {
    flex-direction: column;
    height: auto;
  }

  #brand {
    width: 100%;
    margin: 20px auto;
    flex-direction: column;
  }

  #brand img {
    margin: 25px auto;
  }

  .funkoTittle {
    text-align: center;
    margin-left: 0;
  }


  #navegation {
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    flex-wrap: wrap;
  }

  aside {
    float: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(80px, auto));
  }

  #filterProduct {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #filterProduct #search {
    margin: auto 10px;
    height: min-content;
  }
}

@media (max-width: 800px) {}

@media (max-width: 600px) {}

@media (max-width: 400px) {}